@font-face { 
  font-family: 'DancingScript'; 
  src: 
      url('../../../../src/store/assets/fonts/static/DancingScript-Regular.ttf')  format('truetype');        
      /* url('../src/store/assets/fonts/DancingScript-VariableFont_wght.ttf')  format('truetype');         */
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'DancingScript'; 
  src: 
      url('../../../../src/store/assets/fonts/static/DancingScript-Bold.ttf')  format('truetype');
      /* url('../src/store/assets/fonts/DancingScript-VariableFont_wght.ttf')  format('truetype');         */
  font-weight: bold; 
  font-style: bold; 
}

.title {
    color: blue;    
    font-family: 'DancingScript';
    font-weight: 700;
    font-size: 3.4em;
}
.header {
  display: grid;
  grid-template-areas:
  "header_title score" 
  "category category";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
#titleId {
  grid-area: header_title;
}