.hide__answer {
    /* width: 500px; */
    /* height: 320px; */
    min-height: 150px;
    min-width: 150px;
    background-color: black;
    text-align: center;
    overflow: scroll;
    word-wrap: normal;
}
.hide__answer > p {
    color: bisque;
    font-size: 1.0em;
    font-style: italic;
    
}