.data {
    display: grid;
    grid-template-areas: 
    "question question"
    "list_answer answer";
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-gap: 20px;
    padding: 10px;
    background: cadetblue;
    border-radius: 15px;
}

#question {
    grid-area: question;
}
#answer {
    grid-area: answer;
}
.answer {
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .data {
        grid-template-areas: 
        "question question"
        "list_answer list_answer"
        "answer answer";
    }
}