.header__questions {
    display: flex;
    list-style: none;
    justify-content: center;
}
.category__button {
    width: 170px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 15px;
}
#categoryId {
    grid-area: category;
  }
  